.body {
  bottom: 0;
  width: 100%;
  min-width: 800px;
}

    /* font-family: Roboto, sans-serif;
  }
 mat-toolbar{
   width: 100%

 }
  
  mat-toolbar-row {
    justify-content: space-between;
    min-width: 800px;
  }
   */